.Select-control
{
    border-radius:0px;
    border-color:#ddd!important;
    box-shadow:none!important;
}

.Select-menu-outer
{
    border-radius:0px;
    border-color:#ddd;
}

.Select-option
{
    font-weight:400;
    font-size:13px;
}

.Select--multi .Select-clear-zone
{
    padding-top: 2px;
}

.Select-clear-zone{
    padding-top: 2px;
}

.placeholder-dark .Select-placeholder
{
    color:#555;
}

.Select-placeholder, .Select--single > .Select-control .Select-value
{
    font-weight:400;
    font-size:13px;
    color:#bbb;
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label
{
    font-size:13px;
    color:#337ab7;
}

.Select-control
{
    cursor: pointer;
}

.Select.is-disabled .Select-control
{
    cursor:not-allowed;
}

.Select-control {
    height: 35px;
}

.Select-placeholder {
    line-height: 35px;
}

.Select-value {
    line-height: 35px !important;
}

.Select-value-label {
    line-height: 35px;
}

.Select-input {
    height: 34px;
}

.Select-control > *:last-child
{
    padding-top:2px;
}